
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    margin: auto;
}
ul{
    list-style-type: none;
}
.topBar{
    background-color: #362F2D;
}
.topBar_inner{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 15px 0;
    align-items: center;
}
.leftSide{
    width: 70%;
}
.leftSide ul li span{
    padding-left: 5px;
  
}
.leftSide ul, .RightSide ul{
    display: flex;
    gap: 15px;
   
}
.RightSide{
    width: 30%;
}
.RightSide ul{
    justify-content: flex-end;
}

.RightSide ul li i{
    background-color: #0588c1;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.RightSide ul li a{
    text-decoration: none;
    color: #fff;
}

 
 .listebi ul {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 80%;
    
    
}
   
 
  .listebi a 
  {
    width: 250px;
    height: 250px;
    
  }

  .button{
    background-color:#0588C1 ;
    width: 120px;
    height: 50px;
    justify-content: center;
    display: flex;
    margin: 30px;
    align-items: center;

  }
   .listebi ul li
   {
    margin: 30px;
    display:flex;
 
   
   }
   .listebi{
    display: flex;
    justify-content: center;
   }
  
  
   .satauri h3
   {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    font-style: bold;
    font-weight:900;
    height: 60px;
    width: auto;
    padding: 70px;
    
    }



    .cls
{
    height: 1120p;
    width: 100%;
    justify-content:center ;
  
    align-items: center;
    display: flex;
    
    gap: 5%;
    
}

 .serviceInner{
    height: 200px;
    width: 150px;
    display: inline;
    justify-content:center ;
 
    gap: 25%;
    background-color: #0588C1;
    justify-content: space-between;
 }
       
 .serviceInner svg {
    width: 50px;
    height: 50px;
     margin-left: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }

   